name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 10 * * 1'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 11
          - java: 21
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: "${{ matrix.java }}"
        distribution: temurin
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt -v "+ scalafmtCheckAll" scalafmtSbtCheck "+ test"
