name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 4 * * *'
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'xuwei-k' }}
    steps:
    - uses: actions/setup-java@v5
      with:
        distribution: adopt
        java-version: 11
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: 89536
        private-key: ${{ secrets.XUWEI_K_BOT_KEY }}
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@91f0a480668e574d7d1b413b19ee8240c56cd629 # v2.81.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74788111+xuwei-k-bot[bot]@users.noreply.github.com"
        author-name: xuwei-k-bot[bot]
